<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management System - Employee Page</title>
    <link rel="stylesheet" href="/styles/emp.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body id="emp-dashb">
<div class="container" >
  <aside class="sidebar" >
      <ul>
          <li><a href="/employee">Profile</a></li>
          <li><a href="/Order-D">Orders</a></li>
          
          <li><a href="/Contact-E">Contact Form</a></li>
          <li><a href="/Res">Reservations</a></li>
          
          <li><a href="/">Logout</a></li>
      </ul>
  </aside>
  <main class="main-content" >
    <div class="container" id="res-disp">
      <h2>Contact Details</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Date</th>
            
          </tr>
        </thead>
        <% for(let contact of listItems){%>
        <tbody>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.subject %></td>
            <td><%= contact.message %></td>
            <td><%= contact.date %></td>
            
          </tr>
        </tbody>
        <% } %>
      </table>
    </div>
  
  </main>
</div>

</body>
</html>